[submodule "dotfiles/emacs.d/vendor/emacs-for-python"]
	path = dotfiles/emacs.d/vendor/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python
[submodule "dotfiles/emacs.d/vendor/auto-complete"]
	path = dotfiles/emacs.d/vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete
[submodule "dotfiles/emacs.d/vendor/fill-column-indicator"]
	path = dotfiles/emacs.d/vendor/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator
[submodule "dotfiles/emacs.d/vendor/flycheck"]
	path = dotfiles/emacs.d/vendor/flycheck
	url = git://github.com/lunaryorn/flycheck
